h1{
    font-size: 3rem;
    color: darkgreen;
}

ul{
    text-align: center;
    list-style: none;
    padding: 0;
}

#search{
    display: block;
    margin: auto;
}

#navs{
    position: fixed;
    width: 30%;
    height: 100%;
    background-color: beige;
    text-align: center;
}

#root{
    position: absolute;
    left: 50%;
    align-content: center;
}

#navs div {
    margin-top: 0.25rem;
}

a{
    text-decoration: none;
}